@import url('https://refact0r.github.io/midnight-discord/midnight.css');

:root {

  --font: 'Figtree', sans-serif; 

  --corner-text: 'Midnight';

  --online-indicator: #efaaa2; 
  --dnd-indicator: #c04c39; 
  --idle-indicator: #f4a88a; 
  --streaming-indicator: #621424; 

  --accent-1: #efaaa2; 
  --accent-2: #c04c39; 
  --accent-3: #f4a88a; 
  --accent-4: #621424; 
  --accent-5: #a7666d; 
  --mention: hsla(0, 0%, 100%, 0.1); 
  --mention-hover: hsla(0, 0%, 100%, 0.05); 

  --text-0: #eea79d; 
  --text-1: #eea79d; 
  --text-2: #f4a88a; 
  --text-3: #621424; 
  --text-4: #a7666d; 
  --text-5: #cea6ac; 

  --bg-1: #2d2633; 
  --bg-2: #2d2633; 
  --bg-3: #2d2633; 
  --bg-4: #2d2633; 
  --hover: hsla(0, 0%, 0%, 0.1); 
  --active: hsla(0, 0%, 0%, 0.2); 
  --message-hover: hsla(0, 0%, 0%, 0.1); 

  --spacing: 12px;

  --list-item-transition: 0.2s ease;
  --unread-bar-transition: 0.2s ease;
  --moon-spin-transition: 0.4s ease;
  --icon-spin-transition: 1s ease;

  --roundness-xl: 22px;
  --roundness-l: 20px;
  --roundness-m: 16px;
  --roundness-s: 12px;
  --roundness-xs: 10px;
  --roundness-xxs: 8px;

  --discord-icon: none;
  --moon-icon: block;
  --moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg');
  --moon-icon-size: auto;

  --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);
  --green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);
  --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2);

  --windows-nav: none;
  --custom-nav: block;
}
